<button class="signIn"> <%- include('_SignIn'); %> </button>
<header>
    
        <section>
        <div>
        <nav class="nav-bar">
           
            <button class="signUp"> <%- include('_SignUp'); %> </button>
            <input type="text" >
        </nav>
    </div>
</section>
</header>

<script src="js/index.js">
</script>