
        <form action="/CreateSignIn" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="email">password:</label>
            <input type="password" id="password" name="password" required>
    
            <input type="submit" value="sign in ">
        </form>
