<html>
    <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <h1><%= title %></h1>

        <h5>sign in User_data</h5>
            <section>
            <div class="card-div">
                <img src="/images/OIP (11).jfif" alt="">
                <h2><%= shearData.name %></h2>
                <p>Lorem ipsum dolor </p>
            </div>
        </section>
            
     

        

    </body>
</html>